body {
    background-color: lightgray;
    color: rgb(80, 78, 78);
    font-family: serif;
    font-size: 20px;
    text-align: justify;
    margin: 1%;
    line-height: auto;
}
header{
    text-align: center;
}

.lado-esquerdo{
    float: left;
    width: 48%;
}
.lado-direito {
    float: right;
    width: 48%;
}

.segundo-titulo {
    font-size: 1.1em;
}

.limpa-float {
    clear: both;

}

.paragrafo-input{
    display: inline-block;
    font-size: 0.8em;
    text-align: justify;
;
}